.footer_back, .footer_nav_group a, .nav_item, .nav_btn, .lang_txt, .lang_group li {
  cursor: pointer;
}

.wrap {
  overflow-x: hidden;
  height: 100%;
  padding-top: 98px;
}

@media screen and (max-width: 1025px) {
  .wrap {
    padding-top: 54px;
  }
}

.container {
  width: 100%;
  max-width: 1280px;
  margin: auto;
  padding: 0 20px;
}

footer .container {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 98px;
  background: rgba(0, 0, 0, 0.95);
  -webkit-box-shadow: 0px 10px 16px rgba(0, 0, 0, 0.05);
          box-shadow: 0px 10px 16px rgba(0, 0, 0, 0.05);
  z-index: 1;
}

@media screen and (max-width: 1025px) {
  .header {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    height: 54px;
    padding: 0 9.5px;
  }
}

.footer {
  position: relative;
  margin-top: 85px;
  padding-top: 121px;
  padding-bottom: 77px;
  background-color: #090909;
  color: #ffffff;
}

@media screen and (max-width: 1025px) {
  .footer {
    padding-top: 54px;
  }
}

.footer_back {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 83.09%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
  margin: 0 auto;
  padding-top: 20px;
  text-align: center;
}

.footer_back::before {
  content: "";
  position: absolute;
  top: 0;
  width: 85px;
  height: 85px;
  background-color: #090909;
  -webkit-transform: translateY(-30%) rotate(45deg);
          transform: translateY(-30%) rotate(45deg);
  border-radius: 4px;
  -webkit-transform-origin: center center;
          transform-origin: center center;
}

.footer_back::after {
  content: attr(data-back);
  position: relative;
  text-align: center;
  font-weight: 700;
  font-size: 16px;
}

.footer_back .icon {
  position: absolute;
  top: 0;
  -webkit-transform: translateY(-100%);
          transform: translateY(-100%);
}

.footer_nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
  width: 100%;
  margin-bottom: 26px;
  padding-bottom: 40px;
  border-bottom: 0.5px solid #ffffff;
}

@media screen and (max-width: 1025px) {
  .footer_nav {
    display: none;
  }
}

.footer_nav_group + .footer_nav_group {
  margin-left: 94px;
}

@media (pointer: fine) and (-webkit-max-device-pixel-ratio: 2), (pointer: fine) and (max-resolution: 2dppx), screen and (pointer: fine) and (-webkit-max-device-pixel-ratio: 2), (-moz-touch-enabled: 0) {
  .footer_nav_group a:hover {
    color: #bda782;
  }
}

.footer_nav_group a:active {
  color: #bda782;
}

.footer_nav_group > li + li {
  margin-top: 16px;
}

.footer_nav_title {
  font-weight: 700;
  font-size: 16px;
}

.footer_nav_item {
  font-weight: 400;
  font-size: 14px;
}

.footer_community {
  position: absolute;
  top: 0;
  right: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
}

.footer_community .icon {
  -webkit-box-flex: 0;
      -ms-flex: none;
          flex: none;
  width: 40px;
  height: 40px;
  background-color: #fff;
  border-radius: 100px;
}

@media screen and (max-width: 1025px) {
  .footer_community .icon {
    width: 35px;
    height: 35px;
  }
}

.footer_community .icon + .icon {
  margin-left: 8px;
}

.footer_logo {
  -webkit-box-flex: 0;
      -ms-flex: none;
          flex: none;
  width: 254px;
}

@media screen and (max-width: 1025px) {
  .footer_logo {
    width: 241px;
  }
}

.footer_info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
  color: #fff;
}

@media screen and (max-width: 1025px) {
  .footer_info {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.footer_info ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-left: 18px;
}

.footer_info ul li + li {
  margin-top: 5px;
}

@media screen and (max-width: 1025px) {
  .footer_info ul {
    margin-left: 0;
    margin-top: 14px;
    font-size: 10px;
  }
}

@media screen and (max-width: 1025px) {
  .footer .copyRight {
    width: 100%;
    margin-top: 13px;
    padding-top: 13px;
    border-top: 0.5px solid #ffffff;
    font-size: 10px;
  }
}

h2 {
  font-weight: 600;
  font-size: 42px;
  line-height: 57px;
  text-align: center;
}

h2.border_bottom {
  position: relative;
}

h2.border_bottom:after {
  content: "";
  display: block;
  width: 269px;
  height: 14px;
  margin-top: 42px;
  background-color: #bda782;
}

.nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100%;
  color: #fff;
}

@media screen and (max-width: 1025px) {
  .nav {
    overflow-x: hidden;
    overflow-y: auto;
    position: absolute;
    top: 54px;
    left: 0;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    width: 100%;
    height: calc(100vh - 54px);
    background-color: #f4f4f4;
    color: #000;
    -webkit-transform: translateX(100%);
            transform: translateX(100%);
    -webkit-transition-duration: 0.3s;
            transition-duration: 0.3s;
  }
  .nav.on {
    -webkit-transform: translateX(0%);
            transform: translateX(0%);
  }
}

.nav_group {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  font-weight: 500;
  font-size: 18px;
}

.nav_group:nth-child(1) {
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.nav_group:nth-child(3) {
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

@media screen and (max-width: 1025px) {
  .nav_group {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.nav_item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
  padding: 4px 0;
  border-bottom: 2px solid transparent;
}

@media (pointer: fine) and (-webkit-max-device-pixel-ratio: 2), (pointer: fine) and (max-resolution: 2dppx), screen and (pointer: fine) and (-webkit-max-device-pixel-ratio: 2), (-moz-touch-enabled: 0) {
  .nav_item:hover {
    color: #887766;
    border-color: #887766;
  }
}

.nav_item:active {
  color: #887766;
  border-color: #887766;
}

.nav_item.on {
  color: #887766;
  border-color: #887766;
}

.nav_item + .nav_item {
  margin-left: 104px;
}

@media screen and (max-width: 1440px) {
  .nav_item + .nav_item {
    margin-left: 40px;
  }
}

@media screen and (max-width: 1280px) {
  .nav_item + .nav_item {
    margin-left: 20px;
  }
}

@media screen and (max-width: 1025px) {
  .nav_item + .nav_item {
    margin-left: 0;
  }
}

@media screen and (max-width: 1025px) {
  .nav_item {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    width: 100%;
    padding: 0;
  }
  .nav_item_link {
    display: block;
    margin: 0 22px;
    padding: 26px 24px;
    border-bottom: 0.5px solid #979797;
  }
}

@media screen and (max-width: 1440px) {
  .nav_item_logo {
    margin: 0 40px;
  }
}

@media screen and (max-width: 1280px) {
  .nav_item_logo {
    margin: 0 20px;
  }
}

@media screen and (max-width: 1025px) {
  .nav_item_logo {
    display: none;
  }
}

.header > .nav_item_logo {
  display: none;
}

@media screen and (max-width: 1025px) {
  .header > .nav_item_logo {
    display: block;
    width: 206px;
  }
}

.nav_groupSec {
  position: absolute;
  top: 115px;
  display: none;
  padding: 23px 27px 15px;
  background-color: #ffffff;
  color: #333333;
  border-radius: 16px;
}

@media screen and (max-width: 1025px) {
  .nav_groupSec {
    position: relative;
    top: 0;
    padding: 0;
    background-color: #000000;
    color: #fff;
    border-radius: 0;
  }
  .nav_groupSec a {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding: 26px 36px;
  }
  .nav_groupSec a::before {
    content: "";
    display: block;
    width: 5px;
    height: 5px;
    margin-right: 10px;
    background-color: #fff;
    border-radius: 100px;
  }
}

.nav_groupSec::before {
  position: absolute;
  top: -5px;
  left: 0;
  right: 0;
  content: "";
  width: 53px;
  height: 53px;
  margin: auto;
  background-color: #fff;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}

@media screen and (max-width: 1025px) {
  .nav_groupSec::before {
    display: none;
  }
}

.nav_item.on .nav_groupSec {
  display: block;
}

.nav_groupSec li {
  position: relative;
}

.nav_groupSec > li + li {
  margin-top: 31px;
}

@media screen and (max-width: 1025px) {
  .nav_groupSec > li + li {
    margin-top: 0;
  }
}

.nav_btn {
  position: relative;
  display: none;
  width: 26px;
  height: 18px;
}

@media screen and (max-width: 1025px) {
  .nav_btn {
    display: block;
  }
}

.nav_btn span {
  display: block;
  width: 26px;
  height: 3px;
  background-color: #fff;
  border-radius: 100px;
}

.nav_btn span::before, .nav_btn span:after {
  content: "";
  position: absolute;
  display: block;
  width: 26px;
  height: 3px;
  margin: auto;
  background-color: #fff;
  border-radius: 100px;
  -webkit-transform-origin: center;
          transform-origin: center;
  -webkit-transition-duration: 0.3s;
          transition-duration: 0.3s;
}

.nav_btn span::before {
  top: 0;
}

.nav_btn span:after {
  bottom: 0;
}

.on + .nav_btn span {
  background-color: transparent;
}

.on + .nav_btn span::before {
  opacity: 1;
  bottom: 0;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}

.on + .nav_btn span::after {
  opacity: 1;
  top: 0;
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
}

.lang {
  position: absolute;
  top: 50%;
  right: 58px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 75px;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

@media screen and (max-width: 1440px) {
  .lang {
    right: 20px;
  }
}

@media screen and (max-width: 1025px) {
  .lang {
    position: relative;
    right: 0;
    top: auto;
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}

.lang_txt {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 60px;
  height: 30px;
  background: #9e9e9e;
  color: #fff;
  border-radius: 100px;
}

.lang_group {
  position: absolute;
  top: calc(100% + 5px);
  left: 0;
  display: none;
  width: 75px;
  padding: 5px 0;
  text-align: center;
  background: #e8e8e8;
  color: #1e1e1e;
}

.lang_group.on {
  display: block;
}

.lang_group li {
  width: 60px;
  height: 30px;
  margin: auto;
  line-height: 30px;
  border-radius: 100px;
}

@media (pointer: fine) and (-webkit-max-device-pixel-ratio: 2), (pointer: fine) and (max-resolution: 2dppx), screen and (pointer: fine) and (-webkit-max-device-pixel-ratio: 2), (-moz-touch-enabled: 0) {
  .lang_group li:hover {
    background: rgba(100, 100, 100, 0.1);
  }
}

.lang_group li:active {
  background: rgba(100, 100, 100, 0.1);
}

.icon {
  display: inline-block;
}

.icon._trangle {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 8px;
  height: 7px;
  margin-left: 6px;
}

.brand {
  padding-top: 44px;
  padding-bottom: 95px;
}

@media screen and (max-width: 1025px) {
  .brand {
    padding-bottom: 57px;
  }
}

.brand_group {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
  width: 100%;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

@media screen and (max-width: 767px) {
  .brand_group {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

.brand_item {
  position: relative;
  width: calc(100% / 3 - 24px);
  margin-top: 189px;
  margin-left: 36px;
  padding: 135px 22px 39px;
  background: #ffffff;
  border: 2px solid #e4e4e4;
  -webkit-box-shadow: 0px 0px 8px 6px rgba(0, 0, 0, 0.02);
          box-shadow: 0px 0px 8px 6px rgba(0, 0, 0, 0.02);
  border-radius: 16px;
  text-align: center;
}

.brand_item:nth-child(3n + 1) {
  margin-left: 0;
}

@media screen and (max-width: 1025px) {
  .brand_item {
    width: calc(100% / 2 - 36px);
  }
  .brand_item:nth-child(3n + 1) {
    margin-left: 36px;
  }
  .brand_item:nth-child(odd) {
    margin-left: 0;
  }
}

@media screen and (max-width: 767px) {
  .brand_item {
    width: 100%;
    max-width: 320px;
    margin-top: 108px;
    margin-left: 0;
  }
}

.brand_item_title {
  font-weight: 700;
  font-size: 22px;
  line-height: 25px;
}

.brand_item_title + .brand_item_txt {
  margin-top: 20px;
}

.brand_item_txt {
  font-weight: 400;
  font-size: 18px;
  line-height: 160%;
}

.brand_item_logo {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  width: 189px;
  height: 189px;
  margin: auto;
  background: #ffffff;
  border: 2px solid rgba(51, 51, 51, 0.1);
  -webkit-box-shadow: -12px -9px 0px rgba(0, 0, 0, 0.05);
          box-shadow: -12px -9px 0px rgba(0, 0, 0, 0.05);
  border-radius: 100px;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

@media screen and (max-width: 767px) {
  .brand_item_logo {
    width: 128px;
    height: 128px;
  }
}

.serve {
  padding-top: 245px;
  background-color: #f9f9f9;
}

@media screen and (max-width: 1025px) {
  .serve {
    padding: 47px;
  }
}

.serve_first {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.serve_first_txt {
  max-width: 485px;
  margin-right: 31px;
  text-align-last: left;
}

.serve_first_txt p {
  margin-top: 42px;
  font-weight: 400;
  font-size: 26px;
  line-height: 160%;
  color: #333333;
}

.serve_first_img {
  max-width: 251px;
}

.serve_first_img + .serve_first_img {
  margin-left: 10px;
}

.serve_first_img:nth-child(3) {
  -webkit-transform: translateY(-34px);
          transform: translateY(-34px);
}

.serve_first_img:nth-child(4) {
  -webkit-transform: translateY(-54px);
          transform: translateY(-54px);
}
/*# sourceMappingURL=all.css.map */