.brandSH {
	padding-top: 74px;
	background-color: #fff;
	// .brandSH_txt
	&_txt {
		max-width: 1170px;
		margin: 52px auto 0;
		padding: 0 20px;
		text-align: center;
		@include mw(L) {
			margin-top: 28px;
		}
	}
	// .brandSH_link
	&_link {
		@include d_f(flex, center, center);
		margin-top: 52px;

		.normal_btn + .normal_btn {
			margin-left: 28px;
		}
	}
	// .brandSH_introduction
	&_introduction {
		@include d_f(flex, space-between);
		flex-wrap: wrap;
		max-width: 1254px;
		margin: 74px auto 0;
		padding: 0 20px 130px;
		// .brandSH_introduction_h2
		&_h2 {
			margin-top: 165px;
		}
		// .brandSH_introduction_item
		&_item {
			width: calc(50% - 24px);
			margin-top: 72px;
			&:first-child {
				@include d_f(flex);
				width: 100%;
				margin-top: 0;
			}
		}
		// .brandSH_introduction_pic
		&_pic {
			flex: 1 1 60%;
			width: 100%;
		}
		// .brandSH_introduction_txt
		&_txt {
			@include d_f(flex, center, flex-start);
			flex-direction: column;
			max-width: 560px;
			margin-left: 48px;
			text-align: left;
			transform: translateY(-31px);
			&::before {
				content: attr(data-title);
				margin-bottom: 46px;
				padding: 8px 18px;
				font-style: normal;
				font-weight: 500;
				font-size: 34px;
				line-height: 46px;
				background-color: #887766;
				color: #ffffff;
			}
			@at-root .brandSH_introduction_item:first-child & {
				@include d_f(flex, center, center);
				max-width: 480px;
				text-align: center;
				transform: translateY(0);
			}
		}
	}

	// .brandSH_photowall
	&_photowall {
		padding: 137px 0;
		background: url("../images/brand_shareco/photowall_background.png")
			no-repeat center/cover;
		// .brandSH_photowall_group
		&_group {
			@include d_f(flex, center);
			flex-wrap: wrap;
			max-width: 1090px;
			margin: auto;
			padding: 0 20px;
		}
		// .brandSH_photowall_item
		&_item {
			width: calc(100% / 3 - 70px / 3);
			margin-left: 35px;
			margin-bottom: 35px;

			@include mw(L) {
				margin-left: 8px;
				margin-bottom: 8px;
			}
			@include minmw(L) {
				&:nth-child(3n + 1) {
					margin-left: 0;
				}
			}
		}
	}
}

.access {
	margin-top: 95px;
	text-align: center;
	// .access_group
	&_group {
		@include d_f(flex, center);
		width: 100%;
		margin-bottom: 43px;
	}
	// .access_item
	&_item {
		max-width: 245px;
		text-align: center;
		& + & {
			margin-left: 133px;
		}
	}

	// .access_over
	&_over {
		overflow: hidden;
		position: relative;
		// @include d_f(flex,none,center);
		margin-top: 216px;
		padding-top: 80px;
		&::before,
		&::after {
			position: absolute;
			left: 0;
			right: 0;
			margin: auto;
		}
		&::before {
			content: "";
			top: 0;
			display: block;
			width: 397px;
			height: 80px;
			background: url("../images/brand_shareco/access_over.svg") no-repeat
				center top / cover;
		}
		&::after {
			content: attr(data-title);
			top: 62px;
			font-style: normal;
			font-weight: 600;
			font-size: 42px;
			line-height: 57px;
			text-align: center;
		}
		// .access_over_h2
		&_h2 {
			position: relative;
		}
		// .access_over_group
		&_group {
			position: relative;
			@include d_f(inline-flex);
			max-width: 1018px;
			padding: 140px 0 120px;
			// max-width: 1410px;
			background-color: #efefef;
			// transform: translateX(-50%);
			@extend %transition;
		}
		// .access_over_item
		&_item {
			flex: none;
			@include d_f(flex, center, center);
			flex-direction: column;
			width: calc(100% / 4 - 90px / 4);
			margin-left: 30px;
			&:nth-child(4n + 1) {
				@include minmw(L) {
					margin-left: 0;
				}
			}
		}
		// .access_over_flag
		&_flag {
			width: 62px;
			height: 62px;
		}
		// .access_over_logo
		&_logo {
			margin-top: 50px;
			&._cheungleungkee {
				max-width: 253px;
			}
			&._pavlion {
				max-width: 235px;
			}
			&._hawooo {
				max-width: 273px;
			}
			&._pnj {
				max-width: 167px;
			}
			&._logo158 {
				max-width: 235px;
			}
		}
	}
}
