.cooperation {
	background: linear-gradient(179.87deg, #ebdec7 19.36%, #52442e 72.7%);
	// .cooperation_txt
	&_txt {
		max-width: 708px;
		margin: 23px auto 0;
		font-weight: 400;
		font-size: 20px;
		line-height: 140%;
		text-align: center;
		@include mw(L) {
			max-width: 574px;
			padding: 0 40px;
			font-size: 16px;
			text-align: left;
		}
		@include mw(XS) {
			padding: 0 16px;
		}
	}
	// .cooperation_pics
	&_pics {
		@include d_f(flex, center, center);
		flex-wrap: wrap;
		max-width: 1374px;
		margin: 77px auto 0;
		@include mw(L) {
			max-width: 574px;
			margin-top: 36px;
		}
	}
	// .cooperation_pic
	&_pic {
		width: calc(100% / 5 - 16px);
		text-align: center;
		margin-left: 20px;
		&:nth-child(5n + 1) {
			@include minmw(L) {
				margin-left: 0;
			}
		}
		&:nth-child(3n + 1) {
			@include mw(L) {
				margin-left: 0;
			}
		}
		.family {
			max-width: 207px;
		}
		.bonnyread {
			max-width: 199px;
		}
		.jgao {
			max-width: 197px;
		}
		.murfeeli {
			max-width: 178px;
		}
		.hj {
			max-width: 193px;
		}
		.cheungleungkee {
			max-width: 203px;
		}
		.yourkind {
			max-width: 179px;
		}
		.bggoldnatural {
			max-width: 160px;
		}
		.ecpay {
			max-width: 150px;
		}
		.newepay {
			max-width: 134px;
		}
		.ezship {
			max-width: 197px;
		}
		.opay {
			max-width: 141px;
		}
		.smilepay {
			max-width: 141px;
		}
		.cetustek {
			max-width: 255px;
		}
		.ezpay {
			max-width: 190px;
		}
		@include mw(L) {
			width: calc(100% / 3 - 14px);
			.family {
				max-width: 90px;
			}
			.bonnyread {
				max-width: 90px;
			}
			.jgao {
				max-width: 90px;
			}
			.murfeeli {
				max-width: 90px;
			}
			.hj {
				max-width: 90px;
			}
			.cheungleungkee {
				max-width: 90px;
			}
			.yourkind {
				max-width: 90px;
			}
			.bggoldnatural {
				max-width: 90px;
			}
			.ecpay {
				max-width: 77px;
			}
			.newepay {
				max-width: 65px;
			}
			.ezship {
				max-width: 90px;
			}
			.opay {
				max-width: 75px;
			}
			.smilepay {
				max-width: 78px;
			}
			.cetustek {
				max-width: 112px;
			}
			.ezpay {
				max-width: 83px;
			}
		}
	}
	// .cooperation_contact
	&_contact {
		@include d_f(flex);
		flex-wrap: wrap;
		// gap: 24px;
		max-width: 1924px;
		margin-top: 77px;
		padding: 73px 150px 149px;
		background-color: #f9f9f9;
		border-top-left-radius: 16px;
		border-top-right-radius: 16px;
		@include mw(XL) {
			padding: 73px 70px 149px;
		}
		@include mw(L) {
			margin-top: 36px;
			padding: 29px 16px 68px;
		}
		// .cooperation_contact_detail{
		&_detail {
			@include d_f(flex, center, center);
			flex-direction: column;
			width: calc(50% - 12px);
			margin-bottom: 24px;
			padding: 37px 0;
			border: 2px solid #e4e4e4;
			box-shadow: 0px 0px 8px 6px rgba(0, 0, 0, 0.02);
			border-radius: 16px;
			&._md,
			&._cd,
			&._fd,
			&._hr {
				background-color: #f3f3f3;
			}

			&._md,&._wd,&._fd{
				margin-left: 24px;
				@include mw(L){
					margin-left: 12px;
				}
			}
			@include mw(L) {
				width: calc(50% - 6px);
				margin-bottom: 12px;
				padding: 46px 9px;
			}
		}
		// .cooperation_contact_title
		&_title {
			width: 100%;
			font-style: normal;
			font-weight: 600;
			font-size: 26px;
			line-height: 35px;
			text-align: center;
			@include mw(L) {
				font-size: 18px;
				line-height: 25px;
			}
		}
		// .cooperation_contact_mail
		&_mail {
			position: relative;
			@include d_f(flex, center);
			margin-top: 12px;
			@extend %hand;
			&::before {
				content: attr(data-mail);
				position: absolute;
				top: calc(100% + 5px);
				margin: auto;
				padding: 5px 10px;
				font-size: 14px;
				font-weight: 400;
				background-color: #ebdec780;
				border-radius: 100px;
				line-height: 1;
				opacity: 0;
				@extend %transition;
			}
			@at-root &.on::before {
				opacity: 1;
			}
			@include mw(L) {
				text-align: center;
			}
		}
		// .cooperation_contact_group
		&_group {
			@include d_f(flex);
			flex-wrap: wrap;
			width: 100%;
			margin-bottom: 24px;
			padding: 37px 80px;
			background: #ffffff;
			border: 2px solid #e4e4e4;
			box-shadow: 0px 0px 8px 6px rgba(0, 0, 0, 0.02);
			border-radius: 16px;
			@include mw(L) {
				padding: 37px 20px;
			}
		}
		// .cooperation_contact_item
		&_item {
			position: relative;
			@include d_f(flex, center, center);
			flex-direction: column;
			width: 50%;
			margin-top: 55px;
			padding-bottom: 50px;
			border-bottom: 0.75px solid #929292;
			@include mw(L) {
				margin-top: 35px;
				padding-bottom: 26px;
			}
			&:nth-child(odd)::before {
				content: "";
				position: absolute;
				left: 0;
				display: block;
				width: 0.75px;
				height: 102px;
				border-left: 0.75px solid #929292;
				@include mw(L) {
					top: -10px;
					height: 73px;
				}
			}
			&._full {
				width: 100%;
				padding-bottom: 0;
				border: none;
			}
		}
		// .cooperation_contact_name
		&_name {
			padding: 3px 20px;
			font-style: normal;
			font-weight: 500;
			font-size: 24px;
			line-height: 33px;
			background: #ebdec7;
			border-radius: 100px;
			@include mw(L) {
				padding: 6.5px 8px;
				font-size: 14px;
				line-height: 19px;
			}
		}
	}
}
