.inv {
	padding-top: 90px;
	padding-bottom: 330px;
	background-color: rgba(249, 249, 249, 1);

	h2 {
		position: relative;

		&:after {
			content: "";
			position: absolute;
			top: calc(100% + 14px);
			left: 0;
			right: 0;
			display: block;
			width: 275px;
			height: 1px;
			margin: 0 auto;
			background-color: rgba(51, 51, 51, 1);
		}
	}

	.recruitment_term {
		position: relative;
		top: 0;
		margin-top: 90px;
	}

	// .inv_report
	// .inv_info
	&_info,
	&_report,
	&_revenue {
		margin-top: 40px;
	}

	// .inv_download
	&_download {
		@include d_f(flex, space-between, center);
		width: 100%;
		max-width: 1370px;
		height: 95px;
		margin: auto;
		padding: 0 50px;
		font-weight: 400;
		font-size: 26px;
		background-color: rgba(255, 255, 255, 1);
		border: 1px solid rgba(224, 224, 224, 1);
		border-radius: 8px;

		&+& {
			margin-top: 35px;
		}

		// .inv_download_btn
		&_btn {
			@include d_f(inline-flex, center, center);
			color: rgba(136, 119, 102, 1);
			font-weight: 700;
			font-size: 22px;
			@extend %hand;

			&:after {
				content: '';
				display: block;
				width: 35px;
				height: 30px;
				margin-left: 12px;
				background: url('../images/icon/icon_download.svg')no-repeat center/contain;
			}
		}
	}

	// .inv_table
	&_table {
		width: 100%;
		max-width: 1550px;
		margin: auto;

		th,
		td {
			height: 95px;
			border-bottom: 1px solid rgba(224, 224, 224, 1);
			text-align: center;
			font-size: 26px;
			font-weight: 400;
		}

		th {
			background-color: rgba(216, 216, 216, 1);
		}

		tr:nth-child(even) {
			background-color: rgba(255, 255, 255, 1);
		}

		tr:nth-child(5) td,
		tr:nth-child(9) td,
		tr:nth-child(13) td,
		tr:nth-child(17) td,
		tr:last-child td {
			font-weight: 700;
		}
	}

	// .inv_revenue
	&_revenue {

		// .inv_revenue_title
		&_title {
			margin-bottom: 10px;
			font-weight: 700;
			font-size: 20px;
			color: rgba(136, 119, 102, 1);

			.inv_download+& {
				margin-top: 50px;
			}
		}
	}

	// .inv_allrep
	&_allrep {
		@include d_f(flex);
		flex-wrap: wrap;
		margin-top: 130px;

		// .inv_allrep_item
		&_item {
			@include d_f(flex, none, center);
			flex-direction: column;
			width: calc(100% / 3 - 64px / 3);
			max-width: 488px;
			margin-left: 32px;
			margin-bottom: 46px;
			padding: 58px 21px 16px 0;
			background-color: rgba(255, 255, 255, 1);
			border: 1px solid rgba(224, 224, 224, 1);
			border-radius: 8px;
&:nth-child(3n + 1){
	margin-left: 0;
}
			.number {
				@include d_f(inline-flex, center, center);
				width: 144px;
				height: 38px;
				border: 1px solid rgba(51, 51, 51, 1);
				font-weight: 400;
				font-size: 16px;

				&::before {
					content: attr(data-txt);
				}
			}

			.yreport {
				@include d_f(flex, center, flex-end);
				margin-top: 30px;
				font-weight: 700;
				font-size: 64px;

				&:after {
					content: attr(data-txt);
					margin-left: 8px;
					font-size: 26px;
					font-weight: 400;
				}
			}

			.inv_download_btn {
				margin-top: 77px;
				margin-left: auto;
			}
		}
	}
}