.wrap {
	overflow-x: hidden;
	height: 100%;
	background-color: #ccc;
}

.container {
	width: 100%;
	max-width: 1280px;

	@at-root footer & {
		position: relative;
		@include d_f(flex);
		flex-wrap: wrap;
		margin: auto;
	}
}

.header {
	position: relative;
	width: 100%;
	height: 98px;
	background: rgba(0, 0, 0, 0.95);
	box-shadow: 0px 10px 16px rgba(0, 0, 0, 0.05);
	@include mw(L) {
		@include d_f(flex, space-between, center);
		height: 54px;
		padding: 0 9.5px;
	}
}

.footer {
	padding-top: 121px;
	padding-bottom: 77px;
	background-color: #090909;
	// .footer_nav
	&_nav {
		@include d_f(flex);
		width: 100%;
		margin-bottom: 26px;
		padding-bottom: 40px;
		color: #ffffff;
		border-bottom: 0.5px solid #ffffff;
		// .footer_nav_group
		&_group {
			& + & {
				margin-left: 94px;
			}
			> li + li {
				margin-top: 16px;
			}
		}
		// .footer_nav_title
		&_title {
			font-weight: 700;
			font-size: 16px;
		}
		// .footer_nav_item
		&_item {
			font-weight: 400;
			font-size: 14px;
		}
	}
	// .footer_community
	&_community {
		position: absolute;
		top: 0;
		right: 0;
		@include d_f(flex);
		.icon {
			flex: none;
			width: 40px;
			height: 40px;
			background-color: #fff;
			border-radius: 100px;
		}
		.icon + .icon {
			margin-left: 8px;
		}
	}
	// .footer_logo
	&_logo {
		flex: none;
		width: 254px;
	}
	// .footer_info
	&_info {
		@include d_f(flex);
		color: #fff;
		ul {
			@include d_f(flex);
			flex-direction: column;
			margin-left: 18px;
			li + li {
				margin-top: 5px;
			}
		}
	}
}

.nav {
	@include d_f(flex, center, center);
	height: 100%;
	color: #fff;
	@include mw(L) {
		// display: none;
		position: absolute;
		top: 54px;
		left: 0;
		flex-direction: column;
		justify-content: flex-start;
		width: 100%;
		height: calc(100vh - 54px);
		background-color: #f4f4f4;
		color: #000;
		transform: translateX(100%);
		transition-duration: 0.3s;

		&.on {
			transform: translateX(0%);
		}
	}
	// .nav_group
	&_group {
		@include d_f(inline-flex, center, center);
		width: 100%;
		font-weight: 500;
		font-size: 18px;
		&:nth-child(1) {
			justify-content: flex-end;
		}
		&:nth-child(3) {
			justify-content: flex-start;
		}
		@include mw(L) {
			flex-direction: column;
			padding: 0 27px 0 18px;
		}
	}
	// .nav_item
	&_item {
		@include d_f(flex, center);
		padding: 4px 0;
		border-bottom: 2px solid transparent;
		@extend %hand;
		@include hoverHandler {
			color: #887766;
			border-color: #887766;
		}
		&.on {
			color: #887766;
			border-color: #887766;
		}
		& + & {
			margin-left: 104px;
			@include mw(XXL) {
				margin-left: 40px;
			}
			@include mw(XL) {
				margin-left: 20px;
			}
			@include mw(L) {
				margin-left: 0;
			}
			// @include mw(XXL){
			// 	margin-left: 55px;
			// }
		}
		@include mw(L) {
			width: 100%;
			padding: 26px 0 26px 24px;
			border-bottom: 0.5px solid #979797;
		}
		// .nav_item_logo

		&_logo {
			@include mw(XXL) {
				margin: 0 40px;
			}
			@include mw(XL) {
				margin: 0 20px;
			}
			@include mw(L) {
				display: none;
			}
			@at-root .header > & {
				display: none;
				@include mw(L) {
					display: block;
					width: 206px;
				}
			}
		}

		// @include mw(L) {
		// 	display: none;
		// }
	}

	// .nav_groupSec
	&_groupSec {
		position: absolute;
		top: 115px;
		display: none;
		padding: 23px 27px 15px;
		background-color: #ffffff;
		color: #333333;
		border-radius: 16px;

		&::before {
			position: absolute;
			top: -5px;
			left: 0;
			right: 0;
			content: "";
			width: 53px;
			height: 53px;
			margin: auto;
			background-color: #fff;
			transform: rotate(45deg);
		}

		@at-root .nav_item.on & {
			display: block;
		}
		li {
			position: relative;
		}
		> li + li {
			margin-top: 31px;
		}
	}

	// .nav_btn
	&_btn {
		position: relative;
		display: none;
		width: 26px;
		height: 18px;
		@extend %hand;

		span {
			display: block;
			width: 26px;
			height: 3px;
			background-color: #fff;
			border-radius: 100px;
			&::before,
			&:after {
				content: "";
				position: absolute;
				display: block;
				width: 26px;
				height: 3px;
				margin: auto;
				background-color: #fff;
				border-radius: 100px;
				transform-origin: center;
				transition-duration: 0.3s;
			}
			&::before {
				top: 0;
			}
			&:after {
				bottom: 0;
			}
		}
		.on + & {
			span {
				background-color: transparent;
				&::before {
					opacity: 1;
					bottom: 0;
					// top: 50%;
					transform: rotate(45deg);
				}
				&::after {
					opacity: 1;
					top: 0;
					// bottom: -50%;
					transform: rotate(-45deg);
				}
			}
		}
	}
}

.lang {
	position: absolute;
	top: 50%;
	right: 58px;
	@include d_f(flex, center, center);
	width: 75px;
	transform: translateY(-50%);
	@include mw(XXL) {
		right: 20px;
	}
	@include mw(L) {
		position: relative;
		right: 0;
		top: auto;
		transform: translateY(0);
	}
	// .lang_txt
	&_txt {
		@include d_f(flex, center, center);
		width: 60px;
		height: 30px;
		background: #9e9e9e;
		color: #fff;
		border-radius: 100px;
		@extend %hand;
	}
	// .lang_group
	&_group {
		position: absolute;
		top: calc(100% + 5px);
		left: 0;
		display: none;
		width: 75px;
		padding: 5px 0;
		text-align: center;
		background: #e8e8e8;
		color: #1e1e1e;
		&.on {
			display: block;
		}
		li {
			width: 60px;
			height: 30px;
			margin: auto;
			line-height: 30px;
			border-radius: 100px;
			@extend %hand;
			@include hoverHandler {
				background: rgba(100, 100, 100, 0.1);
			}
		}
	}
}

.icon {
	display: inline-block;
	&._trangle {
		@include d_f(flex, center, center);
		width: 8px;
		height: 7px;
		margin-left: 6px;
	}
}
